{
  "presets": [["env", { "modules": false }], "react", "stage-3"],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  },
  "plugins": [
    ["transform-class-properties", { "spec": true }],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {}
      }
    ]
  ]
}
