@import '../../assets/stylesheets/base.scss';

.modal {
  .modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba($color: $gray, $alpha: 0.7);
  }
  .modal-content {
    position: fixed;
    top: 10%;
    right: 20%;
    bottom: 10%;
    left: 20%;
    background: $dark-white;
  }
}

@media screen and (max-width: 767px) {
  .modal .modal-content {
    top: 30%;
    right: 10px;
    bottom: 30%;
    left: 10px;
  }
}
