@import '../../assets/stylesheets/base.scss';

.modal {
  .modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba($color: $gray, $alpha: 0.7);
  }
  .modal-content {
    top: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px;
    background: $dark-white;
    left: 50%;
  }
}

@media screen and (max-width: 767px) {
  .modal .modal-content {
    top: 25%;
    right: 10px;
    left: 10px;
    transform: translateY(0%) translateX(0%);
  }
}
