@import '../../assets/stylesheets/base';

.paginator {
  .item {
    display: inline-block;
    padding: 10px;
    border: 1px solid gray;
    &.active {
      background: $yellow-green;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
