@import '../../assets/stylesheets/base';

.post-item {
  padding: 20px;
  border-left: 5px solid $yellow-green;
  background: $dark-white;
  margin-bottom: 15px;
  margin: 0 50px;
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .post-item {
    margin: 0;
  }
}
